In [1]:
import numpy as np
import pandas as pd

In [22]:
fish = pd.read_excel(r'data/us_fishery_foreign_trade.xlsx')

In [21]:
fish

,Year,Month,Product Name,Country Name,Month number,Value,Feature,Unit
0,2010,January,SABLEFISH FRESH,UNITED ARAB EMIRATES,1,2297,EXP Quantity,kg
1,2010,January,SABLEFISH FRESH,JAPAN,1,16025,EXP Quantity,kg
2,2010,January,SABLEFISH FRESH,JAPAN,1,63437,EXP Quantity,kg
3,2010,January,MONKFISH FRESH,CANADA,1,579,EXP Quantity,kg
4,2010,January,MONKFISH FRESH,CANADA,1,7975,EXP Quantity,kg
...,...,...,...,...,...,...,...,...
17469,2019,December,CRAWFISH FRESHWATER PEELED,JAPAN,12,4979,IMP Value,USD
17470,2019,December,JELLYFISH PREPARED/PRESERVED,MALAYSIA,12,50825,IMP Value,USD
17471,2019,December,JELLYFISH PREPARED/PRESERVED,CHINA,12,87300,IMP Value,USD
17472,2019,December,JELLYFISH PREPARED/PRESERVED,CHINA,12,25156,IMP Value,USD
17473,2019,December,JELLYFISH PREPARED/PRESERVED,JAPAN,12,20581,IMP Value,USD

In [23]:
fish[fish['Country Name']=='VIETNAM']

,Year,Month,Product Name,Country Name,Month number,Value,Feature,Unit
222,2010,May,SABLEFISH FRESH,VIETNAM,5,9514,EXP Quantity,kg
828,2011,February,BUTTERFISH FROZEN,VIETNAM,2,2030,IMP Quantity,kg
1037,2011,June,SABLEFISH FRESH,VIETNAM,6,22652,EXP Quantity,kg
1215,2011,August,SCORPIONFISH (SCORPAENIDAE) FROZEN,VIETNAM,8,24358,EXP Quantity,kg
1610,2012,February,SABLEFISH FROZEN,VIETNAM,2,28304,EXP Quantity,kg
...,...,...,...,...,...,...,...,...
17069,2019,July,SABLEFISH FROZEN,VIETNAM,7,153832,EXP Value,USD
17136,2019,August,BUTTERFISH FROZEN,VIETNAM,8,6878,IMP Value,USD
17210,2019,September,SABLEFISH FROZEN,VIETNAM,9,26535,EXP Value,USD
17364,2019,November,SABLEFISH FROZEN,VIETNAM,11,226486,EXP Value,USD
17434,2019,December,BUTTERFISH FROZEN,VIETNAM,12,21962,IMP Value,USD

In [24]:
fish[
    (fish['Country Name']=='VIETNAM') &
    (fish['Feature']=='EXP Value') &
    (fish['Value']>10000)
]

,Year,Month,Product Name,Country Name,Month number,Value,Feature,Unit
8959,2010,May,SABLEFISH FRESH,VIETNAM,5,130015,EXP Value,USD
9774,2011,June,SABLEFISH FRESH,VIETNAM,6,199800,EXP Value,USD
9952,2011,August,SCORPIONFISH (SCORPAENIDAE) FROZEN,VIETNAM,8,41895,EXP Value,USD
10347,2012,February,SABLEFISH FROZEN,VIETNAM,2,188900,EXP Value,USD
10360,2012,February,JELLYFISH (RHOPILEMA SPP.) LIVE/FRESH/FROZEN/D...,VIETNAM,2,180600,EXP Value,USD
10416,2012,March,JELLYFISH (RHOPILEMA SPP.) LIVE/FRESH/FROZEN/D...,VIETNAM,3,151200,EXP Value,USD
10542,2012,May,JELLYFISH (RHOPILEMA SPP.) LIVE/FRESH/FROZEN/D...,VIETNAM,5,151200,EXP Value,USD
10615,2012,June,JELLYFISH (RHOPILEMA SPP.) LIVE/FRESH/FROZEN/D...,VIETNAM,6,131100,EXP Value,USD
10708,2012,August,SABLEFISH FRESH,VIETNAM,8,53222,EXP Value,USD
11065,2012,December,SABLEFISH FROZEN,VIETNAM,12,300000,EXP Value,USD
11223,2013,February,JELLYFISH (RHOPILEMA SPP.) LIVE/FRESH/FROZEN/D...,VIETNAM,2,174900,EXP Value,USD
11287,2013,March,JELLYFISH (RHOPILEMA SPP.) LIVE/FRESH/FROZEN/D...,VIETNAM,3,240000,EXP Value,USD
11348,2013,April,JELLYFISH (RHOPILEMA SPP.) LIVE/FRESH/FROZEN/D...,VIETNAM,4,540000,EXP Value,USD
11533,2013,July,MONKFISH FROZEN,VIETNAM,7,40000,EXP Value,USD
11551,2013,July,SABLEFISH FROZEN,VIETNAM,7,65072,EXP Value,USD
11575,2013,July,JELLYFISH (RHOPILEMA SPP.) LIVE/FRESH/FROZEN/D...,VIETNAM,7,468000,EXP Value,USD
11830,2013,October,JELLYFISH (RHOPILEMA SPP.) LIVE/FRESH/FROZEN/D...,VIETNAM,10,80586,EXP Value,USD
12020,2014,January,SABLEFISH FRESH,VIETNAM,1,382050,EXP Value,USD
12083,2014,January,JELLYFISH PREPARED/PRESERVED,VIETNAM,1,975000,EXP Value,USD
12151,2014,February,JELLYFISH PREPARED/PRESERVED,VIETNAM,2,421200,EXP Value,USD
12228,2014,March,JELLYFISH PREPARED/PRESERVED,VIETNAM,3,421200,EXP Value,USD
12270,2014,April,BUTTERFISH FROZEN,VIETNAM,4,55213,EXP Value,USD
12314,2014,April,JELLYFISH PREPARED/PRESERVED,VIETNAM,4,1684800,EXP Value,USD
12393,2014,May,JELLYFISH PREPARED/PRESERVED,VIETNAM,5,567000,EXP Value,USD
12469,2014,June,JELLYFISH PREPARED/PRESERVED,VIETNAM,6,141750,EXP Value,USD
12628,2014,August,JELLYFISH (RHOPILEMA SPP.) LIVE/FRESH/FROZEN/D...,VIETNAM,8,23750,EXP Value,USD
12909,2014,November,JELLYFISH PREPARED/PRESERVED,VIETNAM,11,553950,EXP Value,USD
12995,2014,December,JELLYFISH PREPARED/PRESERVED,VIETNAM,12,1460550,EXP Value,USD
13069,2015,January,JELLYFISH PREPARED/PRESERVED,VIETNAM,1,432900,EXP Value,USD
13141,2015,February,JELLYFISH PREPARED/PRESERVED,VIETNAM,2,257400,EXP Value,USD
13212,2015,March,JELLYFISH PREPARED/PRESERVED,VIETNAM,3,312000,EXP Value,USD
13261,2015,April,SABLEFISH FROZEN,VIETNAM,4,68510,EXP Value,USD
13295,2015,April,JELLYFISH PREPARED/PRESERVED,VIETNAM,4,156000,EXP Value,USD
13367,2015,May,JELLYFISH PREPARED/PRESERVED,VIETNAM,5,128700,EXP Value,USD
13921,2015,December,JELLYFISH PREPARED/PRESERVED,VIETNAM,12,33000,EXP Value,USD
14253,2016,May,SABLEFISH FROZEN,VIETNAM,5,431676,EXP Value,USD
14431,2016,July,JELLYFISH (RHOPILEMA SPP.) LIVE/FRESH/FROZEN/D...,VIETNAM,7,29453,EXP Value,USD
14992,2017,February,JELLYFISH (RHOPILEMA SPP.) LIVE/FRESH/FROZEN/D...,VIETNAM,2,117000,EXP Value,USD
15065,2017,March,JELLYFISH (RHOPILEMA SPP.) LIVE/FRESH/FROZEN/D...,VIETNAM,3,74899,EXP Value,USD
15582,2017,October,SABLEFISH FROZEN,VIETNAM,10,48000,EXP Value,USD
15840,2018,February,SABLEFISH FRESH,VIETNAM,2,218775,EXP Value,USD
15950,2018,March,SCORPIONFISH (SCORPAENIDAE) FROZEN,VIETNAM,3,11800,EXP Value,USD
16123,2018,June,SABLEFISH FROZEN,VIETNAM,6,176808,EXP Value,USD
16124,2018,June,SABLEFISH FROZEN,VIETNAM,6,384891,EXP Value,USD
16744,2019,February,SABLEFISH FROZEN,VIETNAM,2,110495,EXP Value,USD
17012,2019,June,SABLEFISH FROZEN,VIETNAM,6,73558,EXP Value,USD
17069,2019,July,SABLEFISH FROZEN,VIETNAM,7,153832,EXP Value,USD
17210,2019,September,SABLEFISH FROZEN,VIETNAM,9,26535,EXP Value,USD
17364,2019,November,SABLEFISH FROZEN,VIETNAM,11,226486,EXP Value,USD

In [29]:
fish[
    (fish['Country Name']=='VIETNAM') &
    (fish['Feature']=='IMP Quantity') 
].sort_values(by=['Year', 'Month number']).tail(5)

,Year,Month,Product Name,Country Name,Month number,Value,Feature,Unit
8201,2019,May,BUTTERFISH FROZEN,VIETNAM,5,1621,IMP Quantity,kg
8202,2019,May,BUTTERFISH FROZEN,VIETNAM,5,2045,IMP Quantity,kg
8299,2019,June,CRAWFISH FRESHWATER PEELED,VIETNAM,6,11856,IMP Quantity,kg
8399,2019,August,BUTTERFISH FROZEN,VIETNAM,8,2502,IMP Quantity,kg
8697,2019,December,BUTTERFISH FROZEN,VIETNAM,12,6912,IMP Quantity,kg

In [ ]:
Tình huống 2: Lọc ra thông tin khối lượng nhập khẩu ("IMP Quantity") của Việt Nam ("VIETNAM"). 
    Sau đó dùng 3 cách khác nhau để xem 5 tháng gần nhất.

In [62]:
fish[
    (fish['Country Name']=='VIETNAM') & 
    (fish['Feature']=='IMP Quantity')
].sort_values(by=['Year','Month number']).tail(5)[['Product Name', 'Feature']]

                    Product Name       Feature
8201           BUTTERFISH FROZEN  IMP Quantity
8202           BUTTERFISH FROZEN  IMP Quantity
8299  CRAWFISH FRESHWATER PEELED  IMP Quantity
8399           BUTTERFISH FROZEN  IMP Quantity
8697           BUTTERFISH FROZEN  IMP Quantity

In [54]:
fish[['Feature','Unit']].drop_duplicates()

           Feature Unit
0     EXP Quantity   kg
17    IMP Quantity   kg
8737     EXP Value  USD
8754     IMP Value  USD

" [[  ]]" chỉ định hiện trường dữ liệu nào, giống select trong SQL

In [69]:
fish[fish['Feature']=='EXP Value']\
.groupby('Product Name').sum()[['Value']]

                                                        Value
Product Name
BUTTERFISH FROZEN                                    10604660
CRAWFISH FRESHWATER FROZEN                            5393263
JELLYFISH (RHOPILEMA SPP.) LIVE/FRESH/FROZEN/DR...    5489508
JELLYFISH PREPARED/PRESERVED                          8198507
MONKFISH FRESH                                       32555268
MONKFISH FROZEN                                      93921677
SABLEFISH FRESH                                      66094664
SABLEFISH FROZEN                                    799896744
SCORPIONFISH (SCORPAENIDAE) FROZEN                   73262535

"\" Xuống dòng ko bị ngắt quãng cốt